<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>订单详情</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<link rel="stylesheet" href="static/style/weui.min.css">
	<link rel="stylesheet" href="static/style/index.min.css">
    <link rel="stylesheet" href="static/dialog/ui-dialog.css" />
    <script type="text/javascript" src="static/script/jquery-2.1.1.min.js"></script>
    <script type='text/javascript' src='static/dialog/dialog-min.js'></script>
    <script type="text/javascript">
    //jquery和tap冲突的解决方式
   /* $.noConflict();*/
    //自定义弹出框，dialog
    function jAlert(content){
        var d = dialog({
            title: '提示',
            content: content,
            okValue: '确定',
            ok: function () {
            }
        });
        d.showModal();
    }

    //提示后，点击确定跳转
    function jAlert2(content,redictUrl){
        var d = dialog({
            title: '提示',
            content: content,
            okValue: '确定',
            ok: function () {
                window.location.href = redictUrl;
            }
        });
        d.showModal();
    }
    //转菊花的加载效果
    jQuery(function() {
        var d = dialog( {
            zIndex : 87
        });
        jQuery(document).ajaxStart(function() {
            d.showModal();
        });
        jQuery(document).ajaxComplete(function() {
            d.close();
        });
    });
    </script>
    <script>
        function cancelorder(){
        	if (confirm("您确定要取消当前订单吗？")){
        		var url = window.location.href+"&action=cancel";
				$.getJSON(url,function(result){
					if(result.stat == 1){
						jAlert2('取消订单成功,正在跳转到订单页!','myorder.php');
					} else {
			            jAlert(result.msg);
			        }
				});
        	}
        }


    </script>
</head>
<body style="background: #f4f4f4;margin-bottom: 40px;">
<div class="head" style="position:fixed;top:0;width:100%;background:#FFF;z-index:99">
	<a onclick="history.go(-1)"><img src="static/style/back.png" width="22" height="14"  alt=""/></a>
  	<div>订单详情</div>
    <a href="../mobile"><img src="static/style/home.png" width="22" height="21"  alt=""/></a>
</div>

<div class="orderdetailtime" style="margin-top: 45px;">
    <div id="clock"></div>
    <div class="tip" id="tips">您选择的是预付产品，房间已为您保留，请在10分钟内完成支付，否则订单将自动取消</div>
</div>
<div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_text">
        <h4 class="weui-media-box__title">{$order['company']}</h4>
        <p class="weui-media-box__desc">
            {$order['address']}
        </p>
    </div>
</div>
<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">付款金额</label>
            <em class="weui-form-preview__value orderstate">¥{$order['amount']+$order['fee']}</em>
        </div>
    </div>
    <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">订单编号</label>
            <span class="weui-form-preview__value">{$order['ordercode']}</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">订单状态</label>
            <span class="weui-form-preview__value orderstate" id="dingdan">{$orderstatus[$order['status']]}</span>
        </div>
        
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">借款类型</label>
            <span class="weui-form-preview__value">{$order['title']}</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">房间数</label>
            <span class="weui-form-preview__value">{$order['number']}间</span>
        </div>

        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">房费</label>
            <span class="weui-form-preview__value">¥{$order['amount']}</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">入住时间</label>
            <span class="weui-form-preview__value">{timetodate($order['intime'],0)}</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">离店时间</label>
            <span class="weui-form-preview__value">{timetodate($order['outtime'],0)}</span>
        </div>
        {if $order['fee']!=0}
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">电子券</label>
            <span class="weui-form-preview__value">
            {loop $quanlist $k $v}
                {$v['title']}:<span class=" orderstate">{$v['number']}{$v['unit']},¥{$v['amount']}</span><br> 
            {/loop}
            </span>
        </div>
        {/if}
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">下单时间</label>
            <span class="weui-form-preview__value" id="addtime">{timetodate($order['addtime'])}</span>
            <span style="display: none;" id="nowtime" >{$DT_TIME}</span>
            <span style="display: none;" id="updatetime" >{timetodate($order['updatetime'])}</span>
        </div>

        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">留言</label>
            <span class="weui-form-preview__value">{$order['note']}</span>
        </div>
        {if $order['fapiao']!=""}
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">发票抬头</label>
            <span class="weui-form-preview__value">{$order['fapiao']}</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">电子邮箱</label>
            <span class="weui-form-preview__value">{$order['fapiao_email']}</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">纳税人识别号</label>
            <span class="weui-form-preview__value">{$order['fapiao_number']}</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">开票项目</label>
            <span class="weui-form-preview__value">{$order['fapiao_item']}</span>
        </div>
        {/if}
    </div>
    <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn" href="tel:051685507710">联系平台</a>
        <a class="weui-form-preview__btn" href="tel:{$order['telephone']}">联系酒店</a>
    </div>
    <div class="weui-form-preview__ft">
        

   <?php if ($order['status']==1): ?>
        <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="/member/mtrade.php?action=update&step=pay&itemid={$order['itemid']}">支付</a>
   <?php endif ?>
       
    </div>
</div>

<div style="margin-top: 20px;">
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text">
            <h6 class="weui-media-box__title">取消订单</h6>
            <p class="weui-media-box__desc">
。
                预付订单入住当日18点后不可取消，如遇紧急情况需要取消，请于22点前联系客服处理
   
            </p>
        </div>
    </div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text">
            <h6 class="weui-media-box__title">修改行程</h6>
            <p class="weui-media-box__desc">
                到付订单请取消订单重新预订预付订单联系平台退订重新预订      
            </p>
        </div>
    </div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text">
            <h6 class="weui-media-box__title">申请发票</h6>
            <p class="weui-media-box__desc">
                预付订单入住离店后可向平台申请，到付订单由酒店开票      
            </p>
        </div>
    </div>
</div>

<div class="mask" style="display:none;">
<div style="margin-top: 30px;">&nbsp;&nbsp;酒店地图</div>
<div id="container" style="width:100%;height:300px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;"></div>
</div>

<!-- 如果商家未处理，并且未入住，用户可以取消订单 -->
<?php if ($order['access']==0): ?>
    <?php if ($order['status']==0 || $order['status']==1 || $order['status']==7): ?>
        <div class="weui-form-preview__ft" style="background:#FFF;margin-top:20px;">
        <a class="weui-form-preview__btn" href="javascript:cancelorder();">取消订单</a>
        </div>
    <?php endif ?> 
<?php endif ?>

<p class="dzdh clearfix">
    <input type="hidden" id = "companyname" value="{$company}" />
    <input type="hidden" id = "curLat" value="{$order['latitude']}" />
    <input type="hidden" id = "curLong" value="{$order['longitude']}" />
    <input type="hidden" id = "commentcount" value="{$commentcount}" />
</p>

{template 'footer', 'mobile'}
</body>
<script>
$(function(){
    var abcde=$("#updatetime").text();
    (function (a) { 
                    abcde = a.replace(/\-/g, "/");   
    })(abcde);
    var startTime=new Date(abcde);
    var abc=parseInt(startTime.getTime()/1000);
    var old = parseInt(abc);
    var now=parseInt($("#nowtime").text());
    var future=parseInt(old+10*60);
    if($("#dingdan").text()=="待付款"){
        var timer=setInterval(function (){
            now=parseInt(now+1);
            var time=future-now;
            var min=Math.floor(time/60%60);
            var sec=Math.floor(time%60);
            if(time<0){
                $("#clock").text("订单已取消");
                $("#tips").hide();
                $("#dingdan").text("已取消");
                clearInterval(timer);
                var url = window.location.href+"&action=cancel";

                $.getJSON(url,function(result){
                    if(result.stat == 1){
                    resultStr = "您的订单已取消,将跳往订单页";
                    jAlert(resultStr);
                    window.location.href='myorder.php';
                    } else {
                            jAlert(result.msg);
                    }
                });
            }else{
                $("#clock").text(min+"分"+sec+"秒");
            }
        },1000);
    }else if($("#dingdan").text()=="到店付款"){
        $("#clock").text("到店付款");
        $("#tips").hide();
    }else if($("#dingdan").text()=="待确认"){
        $("#clock").text("");
        $("#tips").hide();
    }else{
        $("#clock").text("");
        $("#tips").hide();
    }
    
})

function init() {
      //设置地图中心点
      var myLatlng = new qq.maps.LatLng($('#curLat').val(),$('#curLong').val());
      var hotel_name=$("#companyname").val();

      //定义工厂模式函数
      var myOptions = {
        zoom: 20,
        center: myLatlng,
        content:'文本标注'
      }
      //获取dom元素添加地图信息
      var map = new qq.maps.Map(document.getElementById("container"), myOptions);
      var marker = new qq.maps.Marker({
            position: myLatlng,
            map: map
        });
      var label = new qq.maps.Label({
            position: myLatlng,
            map: map,
            content:hotel_name
        });
      $(".mask").show();
    }

(function(){
    //创建script标签
      var script = document.createElement("script");
      //设置标签的type属性
      script.type = "text/javascript";
      //设置标签的链接地址
      script.src = "http://map.qq.com/api/js?v=2.exp&key=V6IBZ-J5NRF-5NIJE-JX227-FCSDE-IYB26&libraries=convertor&callback=init";
      //添加标签到dom
      document.body.appendChild(script);
      
})();

</script>

<div style="height: 36px;"></div>
 {template 'footer', 'mobile'}
</html>
