<div class="w1200" >
        <div class="clear_float"></div>
        <div class="clear_float clearfix"></div>
        <div class="footLink"></div>
        <div class="copyRight">备案号：&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/">苏ICP备16064744</a><br /><br />版权所有:&nbsp;&nbsp;全国民警出差网&nbsp;&nbsp;</div></div>
<!--[以下为系统关键代码，请勿删除]-->
<div class="back2top"><a href="javascript:void(0);" title="返回顶部">&nbsp;</a></div>
<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
</script>
</body>
</html>