{template 'header'}

<link href="{DT_SKIN}company.css" rel="stylesheet" type="text/css">



	<div class="w1200">

        <div class="leftmain">

            



      <div class="searchmain tabBox">

      <form action="/company/search.php" method="get">

      <input type="hidden" name="page" value="1">

        

        <div class="tabMain" style="display:block;background:#FFF">

          <div class="label city">

            <p class="name">入住城市</p>

            <div class="city_box">

              <input name="" class="input_txt city_input" id="cityInfo" value="上海" type="text">

            </div>

          </div>

          

         

          <div class="label">

            <p class="name">关键字</p>

            <div class="kw">

              <input name="kw"  value="" class="input_txt kw_input" type="text" placeholder="酒店名称/地标">

            </div>

          </div>

          <div class="label">

          <input type="submit" name="submit" value="搜索" class="btn">

          </div>

          <div class="clear_float"></div>

        </div>

        </form>

    </div>







            

        </div>

        <div class="rightmain">

            <div class="brandMain tabBox">

                <div class="titbox">

                    <h2>新闻中心</h2>

                </div>

                <div class="p30">

                    <div class="newpage">

                        <ul class="link">

                        <!--{php $news=tag("moduleid=24&condition=status=3&areaid=$cityid&pagesize=20&order=addtime desc&template=null")}-->

                            {loop $news $k $v}

                                    <li>

                                        <span class="date">{$v[adddate]}</span>

                                        <a href="{$v[linkurl]}" target="_blank">{$v[title]}</a>

                                    </li>

                                

                               {/loop} 

                        </ul>

                        <div class="fenye">{$pages}</div>

                    </div>

                </div>



            </div>

        </div>

    </div>		



{template 'footer'}