{template 'header'}

<link href="{DT_SKIN}indexx.css" rel="stylesheet" type="text/css">

<div class="wrapper jinjiang_zhixing ">

	<div class="path_bar">

          <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a>&raquo;

    </div>

<form action="" method="get">

    <div class="search_bar yahei">

        <input name="" value="提交" class="btn_search" type="submit">
<!-- 
        <div class="city"><span class="fl">城市</span>

        <div class="city_box">


            <input type="text" value="" size="15" id="homecity_name" class=" city_input" name="homecity_name" mod="address|notice" mod_address_source="hotel"  mod_address_reference="cityid" mod_notice_tip="请选择地点" />
            <input id="cityid" name="areaid" type="hidden" value="{$cityid}" />
            <div id="jsContainer" class="jsContainer" style="height:0">
            </div>


        </div>

        </div>  -->

        <!-- <div class="terminal">

        	<span class="fl">目的地</span>

            <div class="selecct_box" id="terminal_select">

                <div class="select_val_box" initvalue="请选择">请选择</div>

                <ul class="select_list" style="display: none;">

                    <li class="ellipsis" title="目的地1">目的地1</li>



                </ul>

            </div>

        </div> -->
{$area_select}
        <span class="start_time"><span class="fl">入住日期</span>

        <input placeholder="请选择入住日期" name="Check_in_date" class="input_txt dateCheckIn hasDatepicker" id="Check_in_date" value="{$Check_in_date}" readonly="readonly" type="text" onfocus="ca_show('Check_in_date', this, '-');"  ondblclick="this.value='';"/>

        </span> 

        <span class="end_time"><span class="fl">离店日期</span>

        <input placeholder="请选择离店日期" name="Check_out_date" class="input_txt dateCheckOut hasDatepicker" id="Check_out_date" value="{$Check_out_date}" readonly="readonly" type="text" onfocus="ca_show('Check_out_date', this, '-');"  ondblclick="this.value='';"/>

        </span>

        <div class="keyword"><span class="name">关键字</span>

          <div class="kw">

            <input name="kw" autocomplete="off" value="{$kw}" class="input_txt kw_input" id="kw_input" data-type="" title="酒店名称/地标" type="text" placeholder="请输入关键字">


          </div>

        </div>

    </div>

</form>


    <div class="filter_box clearfix" id="include" style="height: 109px;overflow: hidden;">
        
            <div id="filter_price" class="filter_unit dis">

            	<div class="filter_label">价格</div>

                <div {if $price}class="off"{else}class="unlimited_btn"{/if} ><a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&starrating={$starrating}&waibin={$waibin}&brandv={$brandv}">全部</a></div>

                <ul class="chklist">

                <li><label class="ellipsis checkbox" style="font-family:arial;" title="¥200以下"><a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price=0v200&starrating={$starrating}&waibin={$waibin}&brandv={$brandv}" {if $price=='0v200'}class="active"{/if} >¥200以下</a></label></li>

                <li><label class="ellipsis checkbox" style="font-family:arial;" title="¥200-400"><a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price=200v400&starrating={$starrating}&waibin={$waibin}&brandv={$brandv}" {if $price=='200v400'}class="active"{/if}>¥200-400</a></label></li>

                <li><label class="ellipsis checkbox" style="font-family:arial;" title="¥400-600"><a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price=400v600&starrating={$starrating}&waibin={$waibin}&brandv={$brandv}" {if $price=='400v600'}class="active"{/if}>¥400-600</a></label></li>

                <li><label class="ellipsis checkbox" style="font-family:arial;" title="¥600以上"><a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price=600v100000&starrating={$starrating}&waibin={$waibin}&brandv={$brandv}" {if $price=='600v100000'}class="active"{/if}>¥600以上</a></label></li>

                </ul>
              
            </div>

            
            <div id="filter_star_level" class="filter_unit dis" style="">

            	<div class="filter_label">星级</div>

                <div {if $starrating}class="off"{else}class="unlimited_btn"{/if}><a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price={$price}&brandv={$brandv}&waibin={$waibin}">全部</a></div>

                <ul class="chklist">
                <li>
                <label class="ellipsis checkbox" rating="0">
                    <a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price={$price}&starrating=二星级及以下&brandv={$brandv}&waibin={$waibin}" {if $starrating=='二星级及以下'}class="active"{/if}>二星级及以下</a>
                </label>
                </li>
                <li>
                <label class="ellipsis checkbox" rating="0">
                    <a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price={$price}&starrating=三星级&brandv={$brandv}&waibin={$waibin}" {if $starrating=='三星级'}class="active"{/if}>三星级</a>
                </label>
                </li>
                <li>
                <label class="ellipsis checkbox" rating="0">
                    <a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price={$price}&starrating=四星级&brandv={$brandv}&waibin={$waibin}" {if $starrating=='四星级'}class="active"{/if}>四星级</a>
                </label>
                </li>
                <li>
                <label class="ellipsis checkbox" rating="0">
                    <a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price={$price}&starrating=五星级&brandv={$brandv}&waibin={$waibin}" {if $starrating=='五星级'}class="active"{/if}>五星级</a>
                </label>
                </li>
                </ul>

            </div>

            <div id="filter_brand" class="filter_unit dis" style="">

            	<div class="filter_label">品牌</div>

                <div {if $brandv}class="off"{else}class="unlimited_btn"{/if}><a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price={$price}&starrating={$starrating}&waibin={$waibin}">全部</a></div>

                <ul class="chklist">
                {loop $brand $b $bb}
				  <li>

				    <label class="ellipsis checkbox" style="font-family:arial;" title="JJDC">

                    <a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price={$price}&starrating={$starrating}&brandv={$bb[groupcode]}&waibin={$waibin}" {if $brandv==$bb[groupcode]}class="active"{/if}>{$bb[groupname]}</a>

				      </label>

				  </li>
                  {/loop}

				</ul>

            </div>

            <div id="filter_facilities" class="filter_unit dis" style="">

            	<div class="filter_label">设备</div>
<div {if $waibin}class="off"{else}class="unlimited_btn"{/if}><a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price={$price}&brandv={$brandv}&starrating={$starrating}">全部</a></div>
               

                <ul class="chklist">   

                            <li >

                    	       <input class="hide" type="checkbox">
                    	       <label class="ellipsis checkbox" data-type="WIFI" >
                               <a href="search.php?areaid={$areaid}&Check_in_date={$Check_in_date}&Check_out_date={$Check_out_date}&kw={$kw}&price={$price}&starrating={$starrating}&brandv={$brandv}&waibin=Y" {if $waibin}class="active"{/if}>可接待外宾</a>

                    	       </label>

                            </li>

                        

                </ul>

            </div>

    </div>

    <!-- 加载更多 -->
    <div><a href="javascript:showinclude()" id="includebtn">加载更多</a></div>

        <div class="base_wrap base_wrap_dev">

        	<div class="base_side">

			        <div class="float_side fs_box" style="position: relative; top: 0px;">

			            <div class="hotselect">

			                <p class="tit"><span> 热门酒店</span></p>
<!--{php $hot=tag("moduleid=4&condition=level=1 and status=3&areaid=$areaid&pagesize=5&order=vip desc&template=null")}-->
                            <ul id="hotHotelul">
                            
{loop $hot $h $hh}
<li class="clearfix">
                                            <a href="{DT_PATH}index.php?homepage={$hh[username]}" >
                                            <img src="{DT_PATH}{$hh[thumb]}" height="100"  width="134">
                                    
                                            <h6>{$hh[company]}</h6>
                                            <p>¥<span>{$hh[lowprice]}</span>起</p>
                                            </a>
                                        </li>

{/loop}
			                

			            </div>

			        </div>        

			</div>

        	<div class="base_main">



        		<div id="hotel_list_data" class="hotel_list">
                <!-- 置顶vip -->
<!--{php $zhiding=tag("moduleid=4&condition=vip>0 and status=3&areaid=$areaid&pagesize=5&order=fromtime desc&template=null")}-->
          
                {loop $zhiding $v $vc}
                <div class="hotel_item clearfix" style="">

                      <ul class="hotel_info">

                        <li class="pic">

                          <a href="{DT_PATH}index.php?homepage={$vc[username]}" target="_blank" >

                            <img src="{DT_PATH}{$vc[thumb]}"  width="140" height="105"></a>

                        </li>

                        <li class="info">

                          <div class="info-tit">

                            <h2>

                              <a id="hotelDetailHeader1" class="yahei" href="{DT_PATH}index.php?homepage={$vc[username]}" target="_blank" title="">

                                {$vc[company]}</a>

                              

                            </h2>

                          </div>

                          <div>

                            <div class="address ellipsis horizantal" title="">地址：{$vc[address]}</div>

                            </div>

                          <p class="introduction ellipsis" >{$vc[introduce]}</p>
                        </li>
                        <li class="price">

                          <span>¥</span>

                          <b>{$vc[lowprice]}</b>起</li>

                      </ul>
    </div>
    {/loop}
        			{if $tags}

					{template 'list-company', 'tag'}

					{else}

					{template 'noresult', 'message'}

					{/if}


        		</div>

        	</div>

        	<div class="clearfix"></div>

        </div>

</div>

<style>
    #includebtn{
        background: #FFF;
        text-align: center;
        width: 80px;
        margin:0 auto;
        margin-bottom: 30px;
        margin-top: -21px;
        color: black;
        border: 1px solid #D9E8FF;
        border-top: none;
        display: block;
        text-decoration: none;
    }

</style>

<script>
    function showinclude(){
        document.getElementById('include').style.height="276px";
        document.getElementById('includebtn').innerHTML="收起";
        document.getElementById('includebtn').href="javascript:hideinclude()";
    }
    function hideinclude(){
        document.getElementById('include').style.height="109px";
        document.getElementById('includebtn').innerHTML="显示更多";
        document.getElementById('includebtn').href="javascript:showinclude()";
    }
    function showdiv(a){
        document.getElementById(a).style.height="";
        document.getElementById(a+'more').innerHTML="收起";
        document.getElementById(a+'more').href="javascript:hidediv('"
    +a+"')";
    }
    function hidediv(a){
        document.getElementById(a).style.height="130px";
        document.getElementById(a+'more').innerHTML="显示更多";
        document.getElementById(a+'more').href="javascript:showdiv('"+a+"')";
    }
</script> 

<script type="text/javascript" src="{DT_STATIC}file/script/fixdiv.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/address.js"></script>
<script type="text/javascript" src="/lang/zh-cn/lang.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/calendar.js"></script> 
<script src="{DT_STATIC}file/script/jquery-1.8.2.min.js"></script>  
{template 'footer'}