<!DOCTYPE html>
<html><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="Keywords" content="商务房A,">
    <meta name="Description" content="商务房A">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商务房A_房型_安庆站站_全国民警出差管理系统</title>
<meta name="keywords" content="商务房A,">
<meta name="description" content="商务房A">
<meta http-equiv="mobile-agent" content="format=html5;url=http://jiudian.idc580.cn/mobile/index.php?moduleid=16&amp;itemid=3553">
<link rel="stylesheet" type="text/css" href="show_files/mall.htm"><!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="http://jiudian.idc580.cn/skin/hotel/ie6.css"/>
<![endif]-->
  <script type="text/javascript" src="show_files/lang.js"></script>
  <script type="text/javascript" src="show_files/config.js"></script>
  <script type="text/javascript" src="show_files/jquery_002.js"></script>
  <script type="text/javascript" src="show_files/common.js"></script>
  <script type="text/javascript" src="show_files/page.js"></script>

   <script type="text/javascript" src="show_files/jquery-1.8.2.min.js"></script>
    <link type="text/css" rel="stylesheet" href="show_files/jquery-ui.css">
    <link href="show_files/global.css" rel="stylesheet" type="text/css">
    <link href="show_files/base.css" rel="stylesheet" type="text/css">
    <link href="show_files/index.css" rel="stylesheet" type="text/css"></head>
  <body class="zh-CN">

     <div class="header yahei ">
        <div class="top_nav" style="height:31px;">
            <div class="w1200 position_relative" id="top_nav_main">              
                    <div class="top_nav_fr">
                        <div id="destoon_member">欢迎，<span class="f_red">客人</span> | <a href="http://jiudian.idc580.cn/member/login.php">请登录</a> | <a href="http://jiudian.idc580.cn/member/register.php">免费注册</a> | <a href="http://jiudian.idc580.cn/member/send.php">忘记密码?</a></div>
                    </div>
                      
                    <div class="top_nav_fl" id="top_nav">
                         <div class="head_l">
<ul>
<li>[<span id="destoon_city">安庆站</span>] <a href="http://jiudian.idc580.cn/api/city.php" title="点击切换城市" rel="nofollow">切换</a></li>
<li><a href="http://jiudian.idc580.cn/mobile/mobile.php">手机版</a>&nbsp;</li>
<li><a href="http://jiudian.idc580.cn/mall/cart.php" rel="nofollow">购物车</a>(<span class="head_t" id="destoon_cart">0</span>)</li></ul>
</div>
                    </div>
            </div>
        </div>

    </div>
      <div class="head yahei ">
        <div class="w1200">
          <ul class="menu">
            <li class="on">
              <a href="http://jiudian.idc580.cn/">首页</a></li>
            <li class="">
              <a href="http://jiudian.idc580.cn/company/search.php?page=1">酒店</a></li>
            <li class="">
              <a href="#">新闻公告</a></li>
          </ul>
          <h1 class="logo">
            <a href="http://jiudian.idc580.cn/">民警出差网</a></h1>
        </div>
      </div><link href="show_files/order.css" rel="stylesheet" type="text/css">
<script type="text/javascript">var module_id= 16,item_id=3553,content_id='content',img_max_width=900;</script>
<form action="" method="get">
<div class="w1200">
<div class="orderPage">
<div class="rightmain">
<div class="orderinfo fixedside" style="position: static; top: 0px;" id="slide">
    <h2 class="yahei">商务房A</h2>
  <!--房型begin-->
    <div class="box2">
   <p><span class="box2_title">入住房型</span>商务房A<span class="box2_fr">
   

   <b class="nums" id="numbers">2</b>间</span></p>
    

   <p><span class="box2_title">价格名称</span>银卡用户网站价</p>
    
   <p><span class="box2_title">入住日期</span>

   <input type="text" id="dtCheckIn" placeholder="入住">

   <em>至</em><span id="dtCheckOut">2016-10-23</span><span class="box2_fr"><b class="daynum">2</b>晚</span></p>

    </div>
<!--房型end-->

<!--礼包begin-->
 
<!--礼包end-->

    <!--价格列表begin-->
    <div class="box2">
        <p><span class="room_price_title">房费小计：</span><span id="roomAmountArea" class="en">¥<b class="col" id="total">0</b></span><span id="roomAmountScoreArea" style="display:none"><span class="en col2"><span id="roomAmountScore"></span>分<span id="roomPlus">+</span></span></span></p>

        <p><span class="room_price_title">税金和服务费：</span><span class="en" id="taxUnit">¥<b class="col" id="tax">0</b></span><span id="taxScoreArea" style="display:none"><span class="en col2"><span id="taxScore"></span>分<span id="taxPlus">+</span></span></span></p>

        <p id="safeMoney" style="display:none;"><span class="room_price_title">保险：</span><span class="en"><span id="safeUnit">¥</span><b class="col" id="safe" data-safe="0">0</b></span></p>

        <p id="couponbox" style="display:none"><span class="room_price_title">优惠券：</span><span class="en"><span id="couponUnit">-¥</span><b class="col" id="coupon" data-coupon="0">0</b></span></p>

        <p class="totalPrice clearfix">总金额：<span id="totalArea" class="en">¥<b class="col f18" id="price" price="0">0</b></span><span id="totalScoreArea" style="display:none"><span class="en col2"><span id="totalAmountScore"></span>分<span id="totalPlus">+</span></span></span></p>
        <p id="taxfre"></p>
    </div>
    <!--价格列表end-->
    <div class="btnBox">
        <span class="tk">已阅读并同意《锦江酒店预订须知》</span>
<span class="notice_tip"><i></i>请阅读并接受此预订须知</span>
        

       <input value="提交订单" class="unsure" id="submit" type="submit">
    </div>
        <div class="firstNight" style="display:none;">
            <p>
                首晚预付价格:
            <span class="pay_money">
                ¥<b class="col" id="prepaid" data-prepaid="0">0</b>
            </span>
                </p>
            <p>
             
            还需在酒店前台支付:
            <span class="pay_money">¥<b class="col" id="remain" data-remain="0">0</b></span>
                </p>
        </div>
        
    </div>
</div>
<!-- 右侧完 -->
<div class="leftmain">
<div class="leftBox">
<div class="p30">
<div class="titbox">
<b class="col">01</b>
填写订单
</div>
<div class="yudingbox"> 
        <div class="datebox">
        <div class="label"><span class="name">入住日期</span>
          <input name="Check_in_date" class="w210 dateCheckIn hasDatepicker" id="Check_in_date" value="20160112" readonly="readonly" onfocus="ca_show('Check_in_date', this, '');" ondblclick="this.value='';" type="text";>
                  </div>
         <div class="label"><span class="name">退房日期</span>
          <input name="Check_out_date" class="w210 dateCheckOut hasDatepicker" id="Check_out_date" value="20160106" onfocus="ca_show('Check_out_date', this, '');" ondblclick="this.value='';" type="text">
                  </div> 
         <div class="label roomNum"><span class="name">房间数</span>
                 <div class="select s2" style="border:none;">

               <select name="rooms" class="select s2" id="number">
                  <option value="1">1</option>   
                  <option value="2">2</option>
                  <option value="3" selected="selected">3</option>
                </select>


              </div></div>
         </div>
        <div class="clear_float"></div>
            <!--订单优化begin-->
             
        <div class="label label_120px">
  <span class="name">抵达时间</span>
  <div class="select" style="border:none">
      <select name="arrivetime" class="select">
        <option value="16:00-17:00">16:00-17:00</option>
        <option value="17:00-19:00">17:00-19:00</option>
        <option value="19:00-21:00" selected="selected">19:00-21:00</option>
        <option value="21:00-24:00">21:00-24:00</option>
      </select>
    <span class="valTxt"></span>
    
  </div>
</div>
        <div class="smoke"><span><input name="nosmoke" value="1" style="vertical-align:middle;" type="checkbox"></span><span style="vertical-align:middle;">无烟房</span><span class="col" style="vertical-align:middle;">   视酒店当日房态尽量安排</span></div>
            <!--订单优化end-->
         </div>
         <div class="clear_float"></div>
         <div class="titbox">
<b class="col">02</b>
入住人/联系人信息
</div>
<div class="lianluobox">
  <div id="contact_form">
    <div class="label nameBox">
      <span class="name">
        <u>*</u>姓名</span>
      <input class="w168 cyInput" id="contacter_input" value="行" name="username" data-rule="required;chinesename;" type="text"></div>
    <div class="tipText_green clearfix">
      <i>
      </i>以下信息请至少填写一项，完整填写信息，帮助我们更好的为您提供服务</div>
    <div class="label phoneBox mr0">
      <span class="name">手机</span>
      <div style="border:none">
      <select name="mobiletype" class="select">
        <option value="国内手机" selected="selected">国内手机（china）</option>
        <option value="国外手机">国外手机（other）</option>
      </select>
        
      </div>
      <input class="w168 gn" id="cellphone_num" value="123" name="mobile" data-rule="mobile;" type="text">
      <input class="w168 hw" style="display:none;" id="cellphone_num1" type="text"></div>
    <div class="label tabLabel ">
      <span class="name">邮箱</span>
      <input class="w168" name="email" data-rule="email;" id="email_address" value="125" type="text"></div>
  </div>
</div>
<div class="clear_float"></div>
<div class="ruzhuBox">
<input name="isone" value="1" style="vertical-align:middle;" type="checkbox"><label style="vertical-align:middle;">入住人信息与联系人相同</label> 
</div>
<div class="clear_float"></div>
<div class="titbox"><b class="col">03</b>支付与优惠信息</div>
<div class="clear_float"></div>
<div class="label payway"><span class="name">支付方式</span>
        <ul>
            
                                <li style="background:none"><input name="paytype" value="1" checked="checked" style="background:none;vertical-align:middle;" type="radio"> <label style="background:none;vertical-align:middle;">门店现付</label></li>
                                <!-- <li id="PREPAYMENT" class="" cpolicy="入住日当天18:00前变更或取消不收费，逾期将收取首晚房费作为罚金。" gpolicy="需预付全额房费。房间保留至次日12：00。" tipmsg="酒店最早入住时间为中午12：00，如需提早入住须与酒店沟通并视酒店房量而定" data-cancel="入住日当天18:00前变更或取消不收费，逾期将收取首晚房费作为罚金。" data-guarantee="需预付全额房费。房间保留至次日12：00。">支付全部房费<span class="tis">(锦江之星房间保留时间至次日12:00。)</span></li> -->
                            
      
        </ul>
        </div>
        <div class="clear_float"></div>
        <div class="clear_float"></div>
        <div class="titbox"><b class="col">04</b>其他付费服务</div>
        <div class="label remark">
                                <input name="quan" value="1" style="vertical-align:middle;" checked="checked" type="checkbox"> <label style="vertical-align:middle;">20元代金券</label> &nbsp;
                      <input name="quan" value="2" style="vertical-align:middle;" checked="checked" type="checkbox"> <label style="vertical-align:middle;">10元代金券</label> &nbsp;
                  </div>
        <div class="clear_float"></div>
</div>
</div>
</div>
</div>
</div>
</form>
<script type="text/javascript" src="show_files/lang.js"></script>
<script type="text/javascript" src="show_files/common.js"></script>
<script type="text/javascript" src="show_files/calendar.js"></script>

<script type="text/javascript">
  $(function(){
    $(window).scroll(function(){
      if($(window).scrollTop()>162){
        $("#slide").css({"position":"fixed","top":"0",});
      }else{
      $("#slide").css({"position":"static",});
      };
    })
});
</script>


<div class="w1200">
        <div class="clear_float"></div>
        <div class="clear_float clearfix"></div>
        <div class="footLink"></div>
        <div class="copyRight">全国民警出差网&nbsp;&nbsp;版权所有&nbsp;&nbsp;2016&nbsp;&nbsp;</div></div>
<div class="back2top" style="display: none;"><a href="javascript:void(0);" title="返回顶部">&nbsp;</a></div>
<script type="text/javascript">
var destoon_userid = 0;
var destoon_username = '';
var destoon_message = 0;
var destoon_chat = 0;
var destoon_cart = get_cart();
var destoon_member = '';
destoon_member += '欢迎，<span class="f_red">客人</span> | <a href="http://jiudian.idc580.cn/member/login.php">请登录</a> | <a href="http://jiudian.idc580.cn/member/register.php">免费注册</a> | <a href="http://jiudian.idc580.cn/member/send.php">忘记密码?</a>';
$('#destoon_member').html(destoon_member);
$('#destoon_city').html('安庆站');
$('#destoon_cart').html(destoon_cart > 0 ? '<strong>'+destoon_cart+'</strong>' : 0);
<!-- $(function(){$("img").lazyload();}); --></script>

<script>
$(function(){

    /*获取房间数*/
    $("#number").on("change",function(){
      $("#numbers").text($("#number option:selected").text());
    });

    $("#Check_in_date").on("blur",function(){
    $("#dtCheckIn").val($(this).val());
    


  })

})


  /*alert($("#Check_in_date").val());*/
  

    /*$("#Check_in_date").on("change",function(){
      $("#dtCheckIn").text($("#Check_in_date").text());
    })*/

  


</script>  


</body></html>