<!DOCTYPE HTML>
<html> 
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ebooking-酒店管理系统</title>
    <link rel='stylesheet' type='text/css' href='{DT_SKIN}new/basis_v3.css' />
    <link rel='stylesheet' type='text/css' href='{DT_SKIN}new/header_v3.css' />
    <script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/jquery.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/admin.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/member.js"></script>
  </head>
  <body>

    